<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Список услуг</title>
</head>

<body>
    <div class="search-container">
        <form action="/services" method="get" class="filter-form">
            <label for="filter">Фильтр по наименованию:</label>
            <div class="search-input">
                <input type="text" id="filter" name="filter" value="{{.Filter}}" placeholder="Введите наименование">
                <button type="submit"><img src="/image/search-icon.png" alt="Search"></button>
            </div>
        </form>
    </div>

    {{range .Services}}
        <a href="/service/{{.ID}}" class="service-card">
            <img src="{{.ImageURL}}" alt="{{.Name}}">
            <div class="service-info">
                <h2>{{.Name}}</h2>
                <p>Фаза: {{.Phase}}</p>
            </div>
        </a>
    {{end}}
</body>

</html>